%h1 Api Documentation

%p 
  A simple guide to using and implementing Convertify's public api.
  

%h2 Simple Conversions

%code
  POST /api/images/convert.json
  Params:
  conversion: rotate
  degrees:    rotation angle in decimal value.
    