!!!
%head
  %title Convertify, Web Based Image Processing Api
  %link{:rel => 'stylesheet', :href => '/stylesheets/convertify.css'}
%body
  .container    
    .padder
      %ul#navigation
        %li
          %a{ :href => '/'} Convertify
        %li
          %a{ :href => '/api'} Api
        
      .clear  
      = yield
